:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
    --loc-color: #45ad99;
}


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #817f7f;
    border-radius: 5rem;
}

body {
    background: white;
}

/*8*/
nav {
    background: #242224;
    width: 100%;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 10px;
    color: #a26a7f;
    font-weight: 700;
}

.user-pic {
    width: 65px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    /* color: white; */
}

nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 17px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: aqua;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #f4f1f1;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px #525252;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    margin-left: 10px;
    font-size: 15px;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.9s;

}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}



footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #000000, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .row .col p {

    font-family: 'Poppins', sans-serif;
}

footer .col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

footer .col p {
    letter-spacing: 1px;
}

footer .comic-sans {
    font-family: 'Comic Sans MS', cursive;
    /* Use Comic Sans MS font */
    color: #97e9cb;
    font-size: 20px;

}

footer .logo {
    width: 80px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: text-shadow 0.5s ease;
}

footer ul li a:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form .fa-regular {
    font-size: 18px;
    margin-right: 10px;
}

footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form button .fa-solid {
    font-size: 16px;
    color: #ccc;
}

footer .social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

footer .social-icons .fa-brands:hover {
    background: #2d0b00;
    color: #fff;
    box-shadow: 0 0 1rem #2d0b00;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
    letter-spacing: 1px;
    color: #ccc;
}

footer .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }

    footer .col {
        flex-basis: 100%;

    }

    footer .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}

:root{
    --loc-color: #45ad99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.location-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    padding: 80px;
    transform: translate(-50%, -50%);
    /* background: rgba(0,0,0,0.5); */
    background: #0d1b2a;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-top: 400px;
    z-index: 1;
}

.location-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.location-box h2 span {
    color: var(--loc-color);
}

.location-box .user-box {
    position: relative;
}

.location-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 0.5px solid #d2cdcd;
    border-right: 0.5px solid #c0b7b7;
}

.location-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.location-box .user-box input:focus~label,
.location-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: var(--loc-color);
    ;
    font-size: 12px;
}

.location-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--loc-color);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 1px;
}

.location-box a:hover {
    background: var(--loc-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--loc-color),
        0 0 25px var(--loc-color),
        0 0 50px var(--loc-color),
        0 0 100px var(--loc-color);

}

.location-box a span {
    position: absolute;
    display: block;
}

.location-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--loc-color));
    animation: btn-anim1 3s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.location-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--loc-color));
    animation: btn-anim2 3s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.location-box a span:nth-child(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--loc-color));
    animation: btn-anim3 3s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.location-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--loc-color));
    animation: btn-anim4 3s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}




/* .review-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background: #e0e1dd;
    color: #000000;
    border: 1px solid #444;
    cursor: pointer;
    transition: all 0.3s ease;
} */

/* .review-btn:hover {
    background: #3b5e5f;
    color: #ffffff;
} */


.overlay {
    display: none;
}

.overlay.active,
.review.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.review {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
    visibility: hidden;
    transition: transform 0.6s, top 0.4s;
    margin-top: 350px;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.review .post {
    display: none;
}

.review .text {
    font-size: 25px;
    color: #747272;
    font-weight: 500;
}

.review .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.review .edit:hover {
    text-decoration: underline;
}

.review .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: #fd4;
}

input:checked~label {
    color: #fd4;
}

input#rate-5:checked~label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked~form header:before {
    content: "I just hate it 😠";
}

#rate-2:checked~form header:before {
    content: "I don't like it ☹️";
}

#rate-3:checked~form header:before {
    content: "It's awesome 🙂";
}

#rate-4:checked~form header:before {
    content: "I just like it 😊";
}

#rate-5:checked~form header:before {
    content: "I just love it 😍";
}

.review form {
    display: none;
}

input:checked~form {
    display: block;
}

form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid#333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px;
    padding: 9px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #1b1b1b;
}

.post button {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    background: #5b6316;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.notification-btn {
    position: relative;
    background-color: transparent;
    z-index: 2;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 70%;
    padding: 2px 8px;
    position: absolute;
    top: -10px;
    right: -13px;
    display: inline;
}

.notifications {
    position: absolute;
    top: 75px; /* Adjust based on the height of your header */
    right: 250; /* Align with the right side of the notification button */
    width: 500px; /* Increased width */
    max-height: 400px;
    overflow-y: auto;
    background-color: transparent;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.notifications.hidden {
    display: none;
}

.notification {
    position: relative; /* To position the close button inside it */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    margin-bottom: 8px;
    padding: 20px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}
.notification span {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 18px;
    color: #333;
}
.notification i{
    font-size: 20px;
    margin: 5px;
}
.close-btn {
    position: absolute; /* Positioned absolutely within the notification */
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #e74c3c;
}

/* Hover Effect */
.notification:hover {
    background-color: #f0f0f0;
    transform: translateX(-7px);
}



.message 
{
    width: 100%;
    position: relative;
    padding-top: 35px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    font-weight: bold;
    color: rgb(44, 234, 44);
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 34, 34);
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}


