@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Righteous&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fff;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    color: #fff;
    background-color: #242224;
    padding-left: 40px;
    width: 100%;
}
.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Ensure it appears above other content */
}
.navbar-brand {
    font-family: 'Comic Sans MS', cursive;
    font-size: 35px;
    color: aqua !important;
    margin-left: 40px;
}

.nav-link {
    font-size: 16px;
    margin: 15px;
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto',sans-serif;
}

.nav-link:hover {
    color: aqua !important;
}

.active .nav-link {
    color: aqua !important;
}

.navbar-nav {
    padding-right: 110px;
    padding-left: 90px;
}

.form-inline {
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    border-radius: 3rem;
    transition: background-color 300ms ease-in;
}

.menu-right-btn {
    padding: 10px 20px;
    background-color: #0f0e0e;
    color: #fff;
    transition: all 300ms ease-in;
    font-weight: bold;
    border-radius: 3rem;
    width: 100px;
    position: relative;
    background: none;
    /* outline: none; */
    overflow: hidden;
    transition: all 0.3s;
    z-index: 100;
    border: 2px solid aqua;
}

.border-btn1:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
    color: #0f0e0e;
    background-color: rgb(255, 255, 255);
}
.border-btn1:hover {
    color: rgb(46, 48, 48);
    
}
.border-btn1:hover::after{
    width: 100%;
}
.border-btn2:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
    color: #0f0e0e;
    background-color: rgb(255, 255, 255);
}
.border-btn2:hover {
    color: rgb(46, 48, 48);
     
}
.border-btn2:hover::after{
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    background-color: rgba(33, 31, 46, 0.5);
}

.popup-content {
    background-color: #ffffff;
    width: 300px;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.options a{
    color: #fff;
    text-decoration: none;
}
button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #000;
    color: #fff;
}

#closePopup {
    margin-top: 20px;
    background-color: #ea2020;
    color: #fff;
}
button:hover {
    background-color: #555353;
}
.riderBtnpop{
    margin-bottom: 500px;
}
@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #000;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title{
    font-size: 4em;
   letter-spacing: 2px;
}
.seco-title{
    margin-bottom: 50px;
    color: rgb(93, 102, 102);
    font-size: 20px;
    letter-spacing: 1px;
}
.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .img{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.content .img img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content .txt-box{
    z-index: 222;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 2px solid rgba(126, 123, 123, 0.9);
    border-radius: 10px;
    transform: translate(-80px, 50px);
    letter-spacing: 1px;
}
.content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
}
.sec-title{
    font-size: 3em;
    margin-bottom: 40px;
   
    
}
.info-title{
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #767676;
}
.info{
    width: 700px;
    margin-left: 50px;
    letter-spacing: 1px;
}
.media-info{
    width: 400px;
    margin-left: 50px;
}
.media-info li{
    list-style: none;
    font-size: 1.4em;
}
.media-info li a{
    color: #111c6e;
    text-decoration: none;
    letter-spacing: 1px;
}
.media-info li:not(:last-child){
    margin-bottom: 50px;
}
.media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;
}
.media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;
}
.sec-02{
    margin-bottom: 20px;
}
.sec-03{
    margin-bottom: 100px;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6a cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.card> .row> .icon{
    background: #223;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card > .row > .desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .5s;
    transition: all .5s ease;
}
.desc{
    padding-top: 35px;
}
.desc p{
    color: #ffffff;
    padding-top: 5px;
    font-weight: bold;
}
.desc h4{
    text-transform: uppercase;
}
input{
    display: none;
}
input:checked + label{
    width: 600px;
}
input:checked + label .desc{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.card[for="c1"]{
    background-image: url(../images/adm.png);
}
.card[for="c2"]{
    background-image: url(../images/adm1.jpg);
}
.card[for="c3"]{
    background-image: url(../images/adiba.jpg);
}
.card[for="c4"]{
    background-image: url(../images/shiti.jpg);
}
footer{
    width: 100%;
    margin-top: 100px;
    bottom: 0;
    background: linear-gradient(to right, #000000, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
footer .col{
    flex-basis: 25%;
    padding: 10px;
}
footer .col:nth-child(2), .col:nth-child(3)
{
    flex-basis: 15%;
}
footer .col p{
    letter-spacing: 1px;
}
footer .comic-sans {
    font-family: 'Comic Sans MS', cursive; /* Use Comic Sans MS font */
    color: #97e9cb;
    font-size: 20px;
  
}
footer .logo{
    width: 80px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
footer ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: text-shadow 0.5s ease;
}
footer ul li a:hover{
    text-shadow: 0 0  1px rgba(255, 255, 255, 0.5);
}
footer form{
    padding-bottom: 15px;
    display:  flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
footer form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
footer form button .fa-solid {
    font-size: 16px;
    color: #ccc;
}
footer .social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition:  0.5s ease ; 
}
footer .social-icons .fa-brands:hover{
    background: #2d0b00;
    color: #fff;
    box-shadow: 0 0 1rem #2d0b00 ;
}
footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
    letter-spacing: 1px;
    color: #ccc;
}
footer .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
footer .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 700px)
{
    footer{
        bottom: unset;
    }
    footer .col{
        flex-basis: 100%;
        
    }
    footer /.col:nth-child(2), .col:nth-child(3)
    {
        flex-basis: 100%;
    }
}

