body {
    background: linear-gradient(135deg, #4b60c5, #b1c4ca);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.card-body {
    padding: 2rem;
}

.form-control {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #48c6ef;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #6f86d6;
}

.input-group-text {
    background-color: transparent;
    border: none;
}
